
{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Application{% endblock %}</title>
       <link rel="stylesheet"
            href="{{ asset('css/bootstrap.min.css') }}">
       <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
       <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/calendar.js') }}"></script>
       
        
    </head>
    
    <body>
        
        <div id="sidebar" class="navbar navbar-default navbar-inverse navbar-top">
                    {% block sidebar %}
                        <ul class="nav navbar-nav">
                            <li><a href="/" >Home</a></li>
                            <li><a href="/lucky/number"  >lucky number</a></li>
                            <li><a href="/lucky/calendar" >calendrier</a></li>
                            <li><a href="/lucky/createday" >create day in calendar</a></li>
                        </ul>
                    {% endblock %}
        </div>
        <div class="container">
            
            <div class="row">
                

                <div id="content" class="col-xs-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>